html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  font-family: Montserrat, 'Helvetica Neue', Arial, sans-serif;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(270deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
  background-size: 1400% 1400%;
  -webkit-animation: Rainbow 120s steps(400, end) infinite;
  -moz-animation: Rainbow 120s steps(400, end) infinite;
  animation: Rainbow 120s steps(400, end) infinite;
}

h1 {
  margin: 0;
  text-shadow: 0.1em 0.1em #000;
  font-size: 3em;
}

h2, h3 {
  margin: 0;
}

p {
  text-align: center;
  margin: 0.5em;
}

video {
  width: 100%;
}

.whitebox {
  color: black;
  background-color: white;
  padding: 1em;
  box-shadow: 0.5em 0.5em #000;
  text-align: center;
  max-width: 80%;
  margin: 1em 0;
}

#container {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu {
  flex: 0.5;
  align-self: flex-end;
  margin-right: 2em;
  text-shadow: 0.1em 0.1em #000;
}
#menu li {
  display: inline;
}
#menu li + li:before {
  content: "· ";
}
#menu a {
  text-decoration: none;
  color: white;
}

#kontodaten {
  list-style-type: none;
}

@-webkit-keyframes Rainbow {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes Rainbow {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes Rainbow {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
