<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
		<style>
			body {
				background: linear-gradient(270deg, {{ printf "%s" $.Params.fadecolors }});
			}
			.whitebox, .whitebox p {
				text-align: {{ printf "%s" $.Params.textalign }} !important;
			}
		</style>
		<link href="/style.css" rel="stylesheet">

		<title>#hyperlinks – {{ $.Title }}</title>
	</head>
	<body>
	<ul id="menu">
			<li><a href="/de/">Home</a></li>
			<li><a href="/de/mitmachen">Über uns</a></li>
			<!--li><a href="./blog.html">Blog</a></li-->
			<li><a href="/de/kontakt">Kontakt</a></li>
			<li><a href="/de/spenden">Spenden</a></li>
	</ul>
		<div class="container main column">
      <h1>#hyperlinks</h1>
